.hljs {
  color: #38393e;
}

.hljs-comment,
.hljs-quote {
  color: #9b9b9b;
}

.hljs-doctag,
.hljs-formula,
.hljs-keyword {
  color: #e13157;
}

.hljs-deletion,
.hljs-name,
.hljs-section,
.hljs-selector-tag,
.hljs-subst {
  color: #df601b;
}

.hljs-literal {
  color: #2d89f3;
}

.hljs-addition,
.hljs-attribute,
.hljs-meta .hljs-string,
.hljs-regexp,
.hljs-string {
  color: #50a14f;
}

.hljs-attr,
.hljs-number,
.hljs-selector-attr,
.hljs-selector-class,
.hljs-selector-pseudo,
.hljs-template-variable,
.hljs-type,
.hljs-variable {
  color: #015e98;
}

.hljs-bullet,
.hljs-link,
.hljs-meta,
.hljs-selector-id,
.hljs-symbol,
.hljs-title {
  color: #0075d4;
}

.hljs-built_in,
.hljs-class .hljs-title,
.hljs-title.class_ {
  color: #d49201;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: 700;
}

.hljs-link {
  text-decoration: underline;
}

/*深色模式 */
@media (prefers-color-scheme: dark) {
  .hljs {
    color: #858585;
  }
}
