* {
  padding: 0;
  margin: 0;
}

html {
  scrollbar-width: none;
}

html::-webkit-scrollbar {
  display: none;
}

body {
  font-size: 100%;
}

#main {
  text-align: center;
  background-color: #ffffff;
  margin: 0%;
  height: 100%;
}

.background {
  background-size: cover;
}

[data-spotlight="fullscreen"] {
  height: 100vh;
}

a {
  text-decoration: none;
  color: #0486ff;
}

.dialog-content code,
kbd,
em {
  font-family: ui-monospace, "Menlo", "Monaco", "Consolas", "Liberation Mono",
    "Courier New", monospace;
}

/* 禁止所有的img被选中*/
img {
  user-select: none;
  -webkit-user-drag: none;
}

.none {
  display: none;
}

.hidden {
  visibility: hidden;
}

/*图标样式 */
img.logo {
  width: auto;
  height: 18.18vh;
  margin-top: 18vh;
}

/*翻译搜索栏字体样式 */
#search_input {
  width: 93%;
  height: 50px;
  background-color: transparent;
  border: none;
  outline: 0;
  font-size: 18px;
  color: #333333;
  border-radius: 10px;
  user-select: none;
}

/*搜索框边距*/
.search_part {
  margin-bottom: auto;
  overflow: hidden;
}

/*跨度样式（由于影响公式显示暂时禁用）
span {
  display: block;
  overflow: hidden;
  padding-left: 1px;
}
*/

/*顶栏布局*/
.top-bar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #ffffff00;
  z-index: 1;
}
.top-bar .button {
  border-radius: 50%;
  display: flex;
  margin: 0.5em;
  padding: 0.8em;
  background-color: #00000000;
}

.top-bar .button img {
  width: 24px;
  height: 24px;
  opacity: 0.3;
  filter: invert(100%) sepia(0%) saturate(7397%) hue-rotate(242deg)
    brightness(82%) contrast(90%);
}

.top-bar .button:hover {
  background-color: #dddddd80;
}

.top-bar .button:hover img {
  opacity: 1;
  filter: invert(41%) sepia(6%) saturate(424%) hue-rotate(174deg)
    brightness(89%) contrast(87%);
}

/*
.top-bar #configItems:hover img {
  transform: rotate(360deg);
  transition: transform 0.5s ease;
}
*/

.top-bar #sidebar:hover img {
  transform: scale(1.1);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.right {
  float: right;
}

.left {
  float: left;
}

#contents {
  margin-top: 40px;
}

/*旋转180度*/
.rotated {
  transform: rotate(180deg);
  transition: transform 0.5s ease;
}

/*不可选择复制拖拽*/
.unselectable {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-drag: none;
}

.searchtool.searchToolList {
  float: right;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  overflow: hidden;
  cursor: pointer;
  position: relative;
  width: 25px;
}

/* SearchTool 伸缩胶囊*/
.searchtool.flexcapsule {
  float: right;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  transition: width 0.3s ease;
  overflow: hidden;
  cursor: pointer;
  position: relative;
  width: 25px;
}

.searchtool.flexcapsule p {
  margin: 0;
  display: none;
  line-height: 0;
  color: #757575;
  font-weight: 500;
  margin-left: 5px;
}

/*
.searchtool.flexcapsule img {
  width: 23px;
  height: 23px;
}
 */

/*搜索栏框架样式*/
.search_bar {
  box-shadow: 0 0 2px rgba(70, 70, 40, 0.255);
  animation: fadeIn 1s;
  background-color: rgba(243, 244, 246);
  border-radius: 20px;
  display: table;
  vertical-align: middle;
  width: 50vw;
  height: 6.06vh;
  max-width: 100%;
  margin: 0px auto;
  margin-top: 2.42vh;
  margin-bottom: 0.61vh;
  transition: height 0.3s ease;
}

#targetArea {
  display: flex;
  align-items: center;
}

.searchlogo {
  height: 25px;
}

.search {
  flex-grow: 1;
}

.searchtool {
  border-radius: 50%;
  padding: 6px;
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.searchswitch {
  border-radius: 50%;
  padding: 6px;
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.searchtool {
  border-radius: 50%;
  padding: 6px;
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.searchtool:hover {
  background-color: #ffffff;
}

.searchtool:active {
  background-color: #3492ff;
}

.searchswitch:hover {
  background-color: #ffffff;
}

.searchtool img:active {
  filter: brightness(0) saturate(100%) invert(100%);
}

.searchtool img {
  height: 24px;
  width: 24px;
}

.search_submit {
  background-color: #d7eeff;
}
.search_submit img {
  filter: invert(39%) sepia(68%) saturate(2284%) hue-rotate(193deg)
    brightness(104%) contrast(101%);
}

/*下拉工具栏*/
.tagname {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.tag:hover .tagname {
  visibility: visible;
  opacity: 1;
}

/*AI 对话框*/
#chat_window {
  width: 50%;
  height: 0px;
  background-color: #f3f4f6;
  border-radius: 8px;
  box-shadow: 0 0 2px rgba(70, 70, 40, 0.255);
  display: flex;
  flex-direction: column;
  transition: height 1s;
  margin: 10px auto;
  overflow: hidden;
}

#chat_print {
  flex: 1;
  padding: 0px 10px 0px 10px;
  overflow-y: auto;

  box-sizing: border-box;
}

.message-bubble {
  margin: 10px 0;
  word-wrap: break-word;
  border-radius: 10px;
  padding: 10px;
  position: relative;
  display: inline-block;
  max-width: 70%;
  min-height: 20px;

  overflow: hidden;
}

.message-bubble.user {
  background-color: #007bff;
  color: white;
  align-self: flex-end;
  float: right;
  clear: both;
  box-shadow: 0 0 2px rgba(70, 70, 40, 0.255);
}

.message-bubble.bot {
  background-color: #fbfbfb;
  color: black;
  align-self: flex-start;
  float: left;
  clear: both;
  box-shadow: 0 0 2px rgba(70, 70, 40, 0.255);
}

.message-bubble > p {
  display: block;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  unicode-bidi: isolate;
}

.message-bubble > pre {
  display: block;
  font-family: consolas;
  unicode-bidi: isolate;
  white-space: pre;
  overflow-x: auto;
  background-color: #eeeeee;
  border-radius: 5px;
  padding: 5px;
}

.message-bubble > pre::-webkit-scrollbar {
  height: 5px;
}

.message-bubble > pre::-webkit-scrollbar-thumb {
  background: #78787861;
  border-radius: 10px;
}

.message-bubble img {
  max-width: 100%;
  height: auto;
}

code {
  display: inline-block;
  max-width: 100%;
  max-height: 100%;
  background-color: #eeeeee;
  color: #333;
  padding-inline: 5px;
  font-family: consolas;
  box-sizing: border-box;
  border-radius: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}

#output {
  font-size: 17px;
  resize: none;
  background-color: transparent;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border: 0px solid #ccc;
  overflow: auto;
  outline: none;
}

#output::-webkit-scrollbar,
#output::-moz-scrollbar,
#output::-ms-scrollbar {
  display: none;
}

/* 隐藏对话框滚动条的轨道 */
#output::-webkit-scrollbar {
  display: none;
}

#output::-moz-scrollbar {
  display: none;
}

#output::-ms-scrollbar {
  display: none;
}

#output h1,
h2,
h3,
h4,
h5 {
  margin-top: 1em;
}

#output h1,
h2,
h3 {
  margin-bottom: 0.5em;
}

/*书签图标排版目录样式 */
#content {
  width: 100%;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
}

.tag_part {
  margin-top: 10%;
  user-select: none;
}

/*书签框架样式*/

.tag {
  -webkit-animation: fadeInDown 1s;
  animation: fadeInDown 1s;
  position: relative;
  display: inline-block;
  width: 100px;
  margin-top: 1vh;
  margin-left: 5px;
  margin-right: 5px;
  border: 0;
  user-select: none;
}

.tag-show {
  background-color: #f3f4f6;
  width: 3.6rem;
  height: 3.6rem;
  position: relative;
  display: inline-block;
  border-radius: 50%;
  user-select: none;
}

.tag-show:hover {
  box-shadow: 0 1px 6px rgba(32, 33, 36, 0.175);
  border-color: rgba(223, 225, 229, 0);
}
.tag-show:hover img {
  transform: scale(1.1);
  transition: transform 0.3s ease;
}

/*书签名称样式*/
.tagname {
  color: #25252582;
  font-size: 13px;
  padding-top: 0.5rem;
  padding-bottom: 5px;
  user-select: none;
}

/*搜索引擎选项样式*/
.url {
  -webkit-animation: fadeInDown 0.6s;
  animation: fadeInDown 0.6s;
  position: relative;
  display: inline-block;
  border: 0 solid;
  border-radius: 11px;
  background-color: #f6f6f6;
  color: #646464;
  margin-right: 6px;
  margin-left: 9px;
  width: 80px;
  height: 30px;
  user-select: none;
}

.stow {
  position: relative;
  display: none;
  border: 0 solid;
  border-radius: 11px;
  background-color: #288cff;
  color: #ffffff;
  margin-right: 6px;
  margin-left: 9px;
  width: 80px;
  height: 30px;
  user-select: none;
}

.stow:hover,
.stow:focus {
  color: #ffffff;
  text-decoration: none;
  background: #288cff linear-gradient(180deg, #247fe8, #247fe8) repeat-x;
}

.search_bar:hover {
  box-shadow: 0 1px 6px rgba(32, 33, 36, 0.175);
  border-color: rgba(223, 225, 229, 0);
}

.url_part {
  margin: 0px;
  margin-bottom: 10px;
  margin-top: 0px;
  user-select: none;
}

.icon {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.url_scroll {
  overflow-x: scroll;
}

.genduo {
  margin: 0px;
  display: flex;
  justify-content: center;
}

.typelogo {
  height: 30px;
  margin-top: 8px;
  margin-left: 10px;
}

.typeurl {
  position: relative;
  display: inline-block;
  border: 0 solid;
  border-radius: 11px;
  background-color: #f6f6f6;
  color: #646464;
  margin-right: 5px;
  margin-left: 5px;
  width: 80px;
  height: 30px;
  user-select: none;
}

.alltype {
  margin: 0px;
  animation: fadeInDown 0.6s;
}

/*隐藏滚动条*/
.url_scroll::-webkit-scrollbar {
  display: none;
}

/*隐藏更多滚动条*/
.url_part::-webkit-scrollbar {
  display: none;
}

.url:hover,
.url:focus,
.typeurl:hover,
.typeurl:focus {
  color: #1b1b1b;
  text-decoration: none;
  background: #f8f9fa linear-gradient(180deg, #ececec, #ececec) repeat-x;
}

.url:active,
.typeurl:active {
  color: #fff;
  text-decoration: none;
  background: #288cff linear-gradient(180deg, #489dff, #288cff) repeat-x;
}

/*弹窗菜单*/
.dropdown-menu {
  margin-top: 10px;
  margin-left: 25.5%;
  animation: fadeIn 0.3s;
  display: none;
  float: left;
  padding: 0.5rem 0;
  font-size: 15px;
  color: #495057;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 0 solid rgba(0, 0, 0, 0.15);
  border-radius: 0.618rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.175);
  min-width: 12rem;
}

.dropdown-item {
  user-select: none;
  display: block;
  width: 6.08vw;
  padding: 1.2vh 1.5rem;
  clear: both;
  font-weight: 520;
  color: #212529;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
}

.dropdown-item:hover,
.dropdown-item:focus {
  width: auto;
  color: #16181b;
  text-decoration: none;
  background: #e4e4e441 linear-gradient(180deg, #e4e4e441, #e4e4e441) repeat-x;
}

.dropdown-item.active,
.dropdown-item:active {
  width: auto;
  color: #fff;
  text-decoration: none;
  background: #288cff linear-gradient(180deg, #489dff, #288cff) repeat-x;
}

/* dialog 弹窗 */
.dialog {
  visibility: hidden;
  opacity: 0;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background: rgba(160, 160, 160, 0.27);
  backdrop-filter: blur(0px);
  transition: opacity 0.2s ease-in-out, backdrop-filter 0.5s ease-in-out,
    visibility 0.2s ease-in-out;
}

.dialog.show {
  visibility: visible;
  opacity: 1;
  backdrop-filter: blur(10px);
}

.dialog-content {
  background-color: #f6f6f6b9;
  margin: 5% auto;
  padding: 20px;
  border: 0px solid #888;
  max-height: 75%;
  max-width: 80%;
  border-radius: 12px;
  box-shadow: 0 0 3px rgba(56, 56, 56, 0.2);
  overflow-y: auto;
}

/* dialog 弹窗滚动条样式 */
.dialog-content::-webkit-scrollbar {
  width: 5px;
}

.dialog-content::-webkit-scrollbar-track {
  background: transparent;
}

.dialog-content::-webkit-scrollbar-thumb {
  background: rgba(108, 108, 108, 0.2);
  border-radius: 10px;
}

.dialog-content::-webkit-scrollbar-thumb:hover {
  background: #00000027;
}

/* dialog 弹窗元素样式*/
/*公有样式*/
.dialog-content p,
code,
th,
td,
li {
  font-size: 16px;
}

.dialog-content ol,
p,
ul {
  line-height: 1.7;
}

ol,
ul {
  padding-left: 1.2em;
}

.dialog-content code,
kbd,
em {
  font-family: ui-monospace, "Menlo", "Monaco", "Consolas", "Liberation Mono",
    "Courier New", monospace;
}

/*标题*/
.dialog-content h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  line-height: 1.25;
}

.dialog-content h1 {
  font-size: 2.2rem;
}

.dialog-content h2 {
  font-size: 1.65rem;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
}

.dialog-content h3 {
  font-size: 1.35rem;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
}

.dialog-content h4 {
  font-size: 1rem;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
}

/*文本*/
.dialog-content p {
  font-size: 16px;
  display: block;
  margin-block-start: 0.6em;
  margin-block-end: 0.6em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  unicode-bidi: isolate;
}

/*代码块*/
.dialog-content code {
  background-color: #d3d3d34a;
}

/*行内代码*/
.dialog-content em {
  color: #33495c;
  padding: 0.25rem 0.5rem;
  margin: 0;
  font-size: 0.85em;
  background-color: rgba(27, 31, 35, 0.05);
  border-radius: 3px;
  font-style: normal;
}

/*表格*/
.dialog-content table {
  border-collapse: collapse;
  margin: 1rem 0;
  display: block;
  overflow-x: auto;
}

.dialog-content td,
th {
  border: 1px solid #c6c7c8;
  padding: 0.6em 1em;
}

/*kbd元素*/
.dialog-content kbd {
  background: #eee;
  border: 0.15rem solid #ddd;
  border-bottom: 0.25rem solid #ddd;
  border-radius: 0.15rem;
  padding: 0 0.15em;
}

/*内容区块*/
.dialog-content blockquote {
  font-size: 1rem;
  color: #999;
  border-left: 0.2rem solid #dfe2e5;
  margin: 1rem 0;
  padding: 0.25rem 0 0.25rem 1rem;
}

.dialog-content blockquote > p {
  margin: 0;
}

/* 设置工具栏选项的过渡显示动画延迟 */
@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.tag {
  opacity: 0;
  animation: fadeIn 0.5s forwards;
}

.tag:nth-child(6) {
  animation-delay: 0.3s;
}

.tag:nth-child(5) {
  animation-delay: 0.25s;
}

.tag:nth-child(4) {
  animation-delay: 0.2s;
}

.tag:nth-child(3) {
  animation-delay: 0.15s;
}

.tag:nth-child(2) {
  animation-delay: 0.1s;
}

.tag:nth-child(1) {
  animation-delay: 0s;
}

/* 加载动画 旋转 */
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.rotate {
  animation: rotate 2s linear infinite;
}

/*动画样式*/
@-webkit-keyframes flipInX {
  0% {
    -webkit-transform: perspective(400px) rotateX(90deg);
    transform: perspective(400px) rotateX(90deg);
    opacity: 0;
  }

  40% {
    -webkit-transform: perspective(400px) rotateX(-10deg);
    transform: perspective(400px) rotateX(-10deg);
  }

  70% {
    -webkit-transform: perspective(400px) rotateX(10deg);
    transform: perspective(400px) rotateX(10deg);
  }

  100% {
    -webkit-transform: perspective(400px) rotateX(0);
    transform: perspective(400px) rotateX(0);
    opacity: 1;
  }
}

@keyframes flipInX {
  0% {
    -webkit-transform: perspective(400px) rotateX(90deg);
    -ms-transform: perspective(400px) rotateX(90deg);
    transform: perspective(400px) rotateX(90deg);
    opacity: 0;
  }

  40% {
    -webkit-transform: perspective(400px) rotateX(-10deg);
    -ms-transform: perspective(400px) rotateX(-10deg);
    transform: perspective(400px) rotateX(-10deg);
  }

  70% {
    -webkit-transform: perspective(400px) rotateX(10deg);
    -ms-transform: perspective(400px) rotateX(10deg);
    transform: perspective(400px) rotateX(10deg);
  }

  100% {
    -webkit-transform: perspective(400px) rotateX(0);
    -ms-transform: perspective(400px) rotateX(0);
    transform: perspective(400px) rotateX(0);
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}

/*响应式布局*/
@media screen and (max-width: 1250px) {
  .contents {
    margin-top: 60px;
  }

  .search_bar,
  #chat_window {
    width: 60vw;
  }

  img.logo {
    margin-top: 20.95vh;
  }

  .dropdown-menu {
    margin-left: 20%;
  }
}

@media screen and (max-width: 1150px) {
  .contents {
    margin-top: 60px;
  }

  .search_bar,
  #chat_window {
    width: 62vw;
  }

  img.logo {
    margin-top: 22.69vh;
  }
}

@media screen and (max-width: 1100px) {
  .contents {
    margin-top: 60px;
  }

  .search_bar,
  #chat_window {
    width: 65vw;
  }

  img.logo {
    margin-top: 24.44vh;
  }

  .dropdown-menu {
    margin-left: 18%;
  }
}

@media screen and (max-width: 1010px) {
  .searchlogo {
    display: none;
  }

  .contents {
    margin-top: 60px;
  }

  .search_bar,
  #chat_window {
    width: 70vw;
  }

  .dropdown-menu {
    margin-top: 10px;
    margin-left: 15%;
  }

  img.logo {
    margin-top: 22vh;
  }
}

@media screen and (max-width: 950px) {
  .contents {
    margin-top: 60px;
  }

  .search_bar,
  #chat_window {
    width: 75vw;
  }

  img.logo {
    margin-top: 22vh;
  }

  .dropdown-menu {
    margin-left: 13%;
  }
}

@media screen and (max-width: 900px) {
  .contents {
    margin-top: 60px;
  }

  .search_bar,
  #chat_window {
    width: 80vw;
  }

  img.logo {
    margin-top: 22vh;
  }

  .dropdown-menu {
    margin-left: 11%;
  }
}

@media screen and (max-width: 850px) {
  .contents {
    margin-top: 60px;
  }

  .search_bar,
  #chat_window {
    width: 85vw;
  }

  img.logo {
    margin-top: 20vh;
  }

  .dropdown-menu {
    margin-left: 9%;
  }
}

@media screen and (max-width: 800px) {
  .contents {
    margin-top: 40px;
  }

  .search_bar,
  #chat_window {
    width: 88vw;
  }

  img.logo {
    margin-top: 20vh;
  }

  .dropdown-menu {
    margin-left: 7%;
  }
}

@media screen and (max-width: 750px) {
  .searchlogo {
    display: none;
  }

  img.logo {
    margin-top: 18vh;
  }

  .contents {
    margin-top: 40px;
  }

  #chat_window {
    width: 90%;
  }

  .search_bar {
    width: 90vw;
    border-radius: 15px;
    height: 4.85vh;
  }

  .url_part {
    white-space: nowrap;
    overflow-x: scroll;
    margin-left: 6px;
  }

  .url {
    margin-right: 8px;
  }

  .dropdown-menu {
    margin-top: 10px;
    margin-left: 5%;
  }

  .dropdown-menu {
    margin-left: 5%;
  }
}

@media screen and (max-width: 560px) {
  #search_input {
    width: 89%;
  }
}

@media screen and (max-width: 500px) {
  img.logo {
    height: 13.33vh;
    margin-top: 17vh;
  }
}

/*缺省模式*/
@media (prefers-color-scheme: no-preference) {
}

/*浅色模式*/
@media (prefers-color-scheme: light) {
}

/*深色模式 */
@media (prefers-color-scheme: dark) {
  #main,
  body,
  html {
    background-color: #141516;
  }

  .search_bar {
    background-color: #2d2e3065;
  }

  .search_bar:hover {
    box-shadow: 0 0 3px rgba(0, 106, 255, 0.5);
  }

  .tag-show:hover {
    box-shadow: 0 0 3px rgba(160, 199, 255, 0.5);
  }

  #search_input {
    color: #f6f6f6;
  }

  .searchtool:hover {
    background-color: #141516;
  }

  .searchtool:active {
    background-color: #155488;
  }

  .searchswitch:hover {
    background-color: #141516;
  }

  .search_submit {
    background-color: #155488;
  }

  .search_submit img {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(166deg)
      brightness(104%) contrast(101%);
  }

  .url {
    background-color: #2d2e30;
    color: #adadad;
  }

  .stow {
    background-color: #288cff;
    color: #ffffff;
  }

  .typeurl {
    background-color: #2d2e30;
    color: #adadad;
  }

  .tagname {
    color: #949494;
  }

  .typelogo {
    filter: brightness(80%);
  }

  .dropdown-menu {
    color: #495057;
    background-color: #2d2e30;
    border: 0 solid rgba(0, 0, 0, 0.15);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.175);
  }

  .dropdown-item {
    color: #a9a9aa;
  }

  .stow:hover,
  .stow:focus {
    color: #ffffff;
    text-decoration: none;
    background: #288cff linear-gradient(180deg, #0063d3, #0063d3) repeat-x;
  }

  .url:hover,
  .url:focus,
  .typeurl:hover,
  .typeurl:focus,
  .dropdown-item:hover,
  .dropdown-item:focus {
    color: #ffffff;
    text-decoration: none;
    background: #2d2e30 linear-gradient(180deg, #26272b, #26272b) repeat-x;
  }

  .stow:active,
  .url:active,
  .typeurl:active {
    color: #fff;
    text-decoration: none;
    background: #288cff linear-gradient(180deg, #489dff, #288cff) repeat-x;
  }

  .tag-show {
    background-color: #1e1f20;
  }

  #chat_window {
    background-color: #2d2e3065;
  }

  .message-bubble.user {
    background-color: #1f429f;
    color: white;
  }

  .message-bubble.bot {
    background-color: #262626;
    color: rgb(255, 255, 255);
  }

  .message-bubble > pre {
    background-color: #2c2c2c;
  }

  code {
    background-color: #2c2c2c;
    color: #ffffff;
  }

  /* dialog 弹窗 */
  .dialog {
    background: rgba(0, 0, 0, 0.27);
  }

  .dialog-content {
    background-color: #0e0e0eb9;
  }

  .dialog-content h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  li,
  th,
  td {
    color: #eee;
  }

  /*代码块*/
  .dialog-content code {
    background-color: #2e2e2e4a;
  }

  /*行内代码*/
  .dialog-content em {
    color: #aaaaaa;
    background-color: #2e2e2e4a;
  }

  /*表格*/
  .dialog-content td,
  th {
    border: 1px solid #eee;
  }

  /*kbd元素*/
  .dialog-content kbd {
    background: #1a1a1a;
    border: 0.15rem solid #232323;
    border-bottom: 0.25rem solid #2d2d2d;
  }

  /*内容区块*/
  .dialog-content blockquote {
    font-size: 1rem;
    color: #36393b;
    border-left: 0.2rem solid #dfe2e5;
    margin: 1rem 0;
    padding: 0.25rem 0 0.25rem 1rem;
  }

  /*顶栏控件*/
  .top-bar .button img {
    filter: invert(18%) sepia(13%) saturate(247%) hue-rotate(161deg)
      brightness(91%) contrast(84%);
  }

  .top-bar .button:hover {
    background-color: #2a2c2d80;
  }

  .top-bar .button:hover img {
    filter: invert(100%) sepia(0%) saturate(7397%) hue-rotate(242deg)
      brightness(82%) contrast(90%);
  }
}
